template/*
node_modules

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#pycache
*/*/
*/__pycache__/*
__pycache__/*
*/*/__pycache__/*
*.py[cod]

*/.eslintcache
*.pyc
st_aggrid_cmaq/frontend/.eslintcache
st_aggrid_cmaq/__pycache__/__init__.cpython-38.pyc
